:local(.title) {
  color: cornflowerblue;
}

.properties-grid {
  display: flex;
  flex-wrap: wrap;
}

.properties-grid div {
  padding-bottom: 5px;
  
}

.property {
  flex: 0 1 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  display: flex;
  border-style: solid;
  border-width: 1px;
  border-top-style: none;
}

.property div {
  flex: 1;
}

.header {
  flex: 0 1 100%;
  flex-grow: 1;
  flex-wrap: wrap;
  display: flex;
  border-style: solid;
  border-width: 1px;
}

.header div {
  flex: 1;  
}